@model EducationManagementStudio.Models.CustomPageModels.CustomPage

@using EducationManagementStudio.Models.CustomContentModels


@foreach (var content in Model.Contents.Where(c=>c is InputCustomContent))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Content @content.Id</h3>
        </div>
        <div class="panel-body">
            @foreach (var contentResponse in content.CustomContentResponses)
            {
                @if (content is CustomContentTextArea)
                {
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>ContentUser</dt>
                                <dd>@contentResponse.Student.UserName</dd>
                                <dt>User</dt>
                                <dd>@contentResponse.Student.FullName</dd>
                                <dt>ContentResponse</dt>
                                <dd>@contentResponse.TextAreaResponse</dd>
                            </dl>
                        </div>
                    </div>
                }
                else if (content is CustomContentFile)
                {
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>ContentUser</dt>
                                <dd>@contentResponse.Student.UserName</dd>
                                <dt>User</dt>
                                <dd>@contentResponse.Student.FullName</dd>
                                <dt>FileName</dt>
                                <dd>@contentResponse.FileName</dd>
                            </dl>
                            <img src="~/uploads/custom-content/@contentResponse.Student.Id/@contentResponse.FileName" class="img-responsive img-thumbnail" />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
