@model EducationManagementStudio.Models.CourseModels.Course

@using EducationManagementStudio.Models.CustomPageModels


<h1>@Model.Name</h1>
<p class="lead">@Model.Description</p>
<hr />

<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div data-markdown="content-trim">
#### Informacje wstępne

1. Zakaz korzystania z **telefonów komórkowych**.
2. Zakaz korzystania ze stron internetowych innych niż dokumentacja, Wikipedia.
3. Spożywanie napojów i posiłków poza laboratorium, na przerwie.
4. Na blacie przed sobą można mieć wyłącznie: 
  * *zeszyt*, 
  * *przybory do pisania*,
  * *__własnoręcznie__ napisane materiały*,
  * *literaturę związaną z zajęciami*,
  * *wydrukowaną dokumentację*.
    </div>
</div>


@await Html.PartialAsync("_CustomContent", Model.CustomContentDescription.ToList())


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="col-md-6">Temat laboratoriów</th>
            <th>Test</th>
            <th>Laboratorium</th>
            <th>Sprawozdanie</th>
            <th>Zakres materiału</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var currentClass in Model.Classes)
        {
            <tr>
                <td data-markdown="line" class="text-justify">@currentClass.Topic</td>
                <td class="text-center" style="vertical-align: middle;">@RenderCustomPageLink(currentClass.Test)</td>
                <td class="text-center" style="vertical-align: middle;">@RenderCustomPageLink(currentClass.Exercise)</td>
                <td class="text-center" style="vertical-align: middle;">@RenderCustomPageLink(currentClass.Report)</td>
                <td class="text-center" style="vertical-align: middle;">@RenderCustomPageLink(currentClass.NextClasses)</td>
            </tr>
        }
    </tbody>
</table>

@functions {
    public IHtmlContent RenderCustomPageLink(CustomPage customPage)
    {
        var buttonTemplate = "<a class='btn btn-xs text-center {0}' role='button' href='{1}'>Rozpocznij</a>";
        var buttonHtml = String.Empty;

        if (customPage == null)
            buttonHtml = String.Format(buttonTemplate, "btn-default disabled ", "");
        else
            buttonHtml = String.Format(buttonTemplate, "btn-primary", $"/CustomPage/View/{customPage.Id}");

        return Html.Raw(buttonHtml);
    }
}
